In [1]:
word = "python"

In [2]:
word[1]

'y'

In [3]:
word[-2]

'o'

In [4]:
word[0:2]

'py'

In [5]:
word[:2]

'py'

In [6]:
word[3:]

'hon'

In [7]:
word[:]

'python'

In [8]:
word = "12345"

In [9]:
word[:]

'12345'

In [10]:
word[::2]

'135'

In [11]:
word[::-1]

'54321'

In [12]:
len(word)

5

In [13]:
word = 'python is fun'
len(word)

13

In [14]:
s = 'python is fun'

In [15]:
s.count('n')

2

In [16]:
s.index('n')

5

In [17]:
','.join('1234')

'1,2,3,4'

In [18]:
s

'python is fun'

In [19]:
word = 'Hello'

In [20]:
word[-1]

'o'

In [22]:
word[len(word) - 1]

'o'

In [35]:
s = 'one two\nthree\tfour'
Ls = s.split()

In [36]:
Ls

['one', 'two', 'three', 'four']

In [34]:
print(s)

one two
three	four

In [37]:
a = [1, 2, 3]
b = [4, 5, 6]

In [38]:
a

[1, 2, 3]

In [39]:
b

[4, 5, 6]

In [41]:
c = a+b

In [42]:
c

[1, 2, 3, 4, 5, 6]

In [43]:
a

[1, 2, 3]

In [44]:
b

[4, 5, 6]

In [45]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [46]:
a

[1, 2, 3]

In [47]:
a[2]

3

In [48]:
a[2] = 8

In [49]:
a[2]

8

In [50]:
a

[1, 2, 8]

In [51]:
del a[0]

In [52]:
a

[2, 8]

In [53]:
t = [1,2,3]
a, b, c = t

In [54]:
print(a, b, c)

1 2 3

In [57]:
date = input('날짜(연/월/일)입력: ')
y, m, d = date.split('/')
print('입력한 날짜의 10년 후는 {}년 {}월 {}일'.format(int(y)+10, int(m), int(d)))

날짜(연/월/일)입력: 2020/06/22
입력한 날짜의 10년 후는 2030년 6월 22일

In [61]:
# 강사님 정답
date = "2020/06/22"
dateList = date.split('/')

# print(dateList)

year, month, day = dateList

print('입력한 날짜의 10년 후는 %d년 %s월 %s일' % (int(year) + 10, month, day))

입력한 날짜의 10년 후는 2030년 06월 22일

In [62]:
dateList

['2020', '06', '22']

In [69]:
dateList_int = list(map(int, dateList))

In [70]:
dateList_int[0]

2020

In [71]:
type(dateList_int[0])

int

In [72]:
Ls = list(map(str, dateList_int))

In [73]:
Ls

['2020', '6', '22']

In [74]:
bool(0.0)

False

In [75]:
bool(0)

False

In [76]:
bool(1)

True

In [85]:
a, b, c = map(int, input('세 개의 수를 입력하시오: ').split())

if a > b:
    answer = a
else:
    answer = b
    
if answer < c:
    answer = c
    
print(answer)

세 개의 수를 입력하시오: 30 22 50
50

In [84]:
eng, math = map(int, input('영어 수학 점수를 입력하시오: ').split())

if eng + math >= 110:
    if eng < 40:
        print('불합격: 영어 점수 부족')
    elif math < 40:
        print('불합격: 수학 점수 부족')
    else:
        print('합격')
else:
    print('불합격: 총합 점수 부족')

영어 수학 점수를 입력하시오: 35 95
불합격: 영어 점수 부족

In [90]:
cnt = 1

while cnt < 6:
    print('Hello', cnt, end=', ')
    cnt += 1

Hello 1, Hello 2, Hello 3, Hello 4, Hello 5,

In [95]:
cnt = 1
answer = 0

while cnt < 11:
    answer += cnt
    cnt += 1

print('1부터 10까지의 합: {}'.format(answer))

1부터 10까지의 합: 55

In [96]:
for x in "hello":
    print(x)

h
e
l
l
o

In [97]:
for x in [10, 99, 9, 6]:
    print(x)

10
99
9
6

In [100]:
print('start!')

for x in range(1, 11):
    if x == 5:
#         break # 자기가 속한 if문만 탈출한다.
        continue # for문 안의 모든 문장을 건너뜀
    print(x, end=" ")
    
print('\nend!')

1 2 3 4 5 6 7 8 9 10