In [2]:
number = "31579"

for ch in number:
    print("★" * int(ch))

★★★
★
★★★★★
★★★★★★★
★★★★★★★★★

In [3]:
number = "31579"

for ch in number:
    for x in range(int(ch)):
        print("★", end="")
    print()

★★★
★
★★★★★
★★★★★★★
★★★★★★★★★

In [4]:
colors = list()
colors

[]

In [10]:
colors.append("red")

In [6]:
colors

['red']

In [7]:
colors.append("green")

In [8]:
colors.append("blue")

In [11]:
colors

['red', 'green', 'blue', 'red']

In [12]:
colors.remove("red")

In [13]:
colors

['green', 'blue', 'red']

In [18]:
a = [1, 7, 9, 2, 5]

In [26]:
a.sort(reverse=True)

In [27]:
a

[9, 7, 5, 2, 1]

In [16]:
a.sort()

In [17]:
a

[1, 2, 5, 7, 9]

In [21]:
a1 = sorted(a)

In [22]:
a1

[1, 2, 5, 7, 9]

In [23]:
res = a.sort()

In [25]:
print(res)

None

In [28]:
max(a)

9

In [29]:
min(a)

1

In [30]:
sum(a)

24

In [34]:
nums = []

while True:
    number = input('Enter a number: ')
    if number == 'done':
        break
    else:
        nums.append(float(number))

print()
print(nums)
print('Average: {}'.format(sum(nums) / len(nums)))
print('Maximum: {}'.format(max(nums)))
print('Minimum: {}'.format(min(nums)))

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done

[7.0, 2.0, 9.0, 3.0, 5.0]
Average: 5.2
Maximum: 9.0
Minimum: 2.0

In [35]:
t = 1, 2, 3

In [36]:
t

(1, 2, 3)

In [37]:
type(t)

tuple

In [41]:
t1 = (10,)

In [42]:
t1

(10,)

In [40]:
type(t1)

int

In [43]:
t = tuple(range(1, 7))
t

(1, 2, 3, 4, 5, 6)

In [44]:
t[1]

2

In [45]:
t[0] = 7

TypeError: 'tuple' object does not support item assignment

In [46]:
s = {}

In [47]:
type(s)

dict

In [48]:
s1 = {3, 4, 5, 7, 3}
s1

{3, 4, 5, 7}

In [49]:
word = "hello" * 2
word

'hellohello'

In [50]:
wlist = list(word)

In [51]:
wlist

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [52]:
s3 = set(wlist)
s3

{'e', 'h', 'l', 'o'}

In [53]:
s4 = set(word)
s4

{'e', 'h', 'l', 'o'}

In [54]:
s = {1, 2, 3, 4, 5, 3, 4}
s

{1, 2, 3, 4, 5}

In [55]:
s.add(10)

In [56]:
s

{1, 2, 3, 4, 5, 10}

In [57]:
s.update([1,3,5,7,9])

In [58]:
s

{1, 2, 3, 4, 5, 7, 9, 10}

In [59]:
s.discard(7)

In [60]:
s

{1, 2, 3, 4, 5, 9, 10}

In [61]:
s.clear()

In [62]:
s

set()

In [63]:
d = {}
d

{}

In [64]:
d['kim'] = 1

In [65]:
d

{'kim': 1}

In [66]:
d['park'] = 2

In [67]:
d

{'kim': 1, 'park': 2}

In [68]:
d['kim'] = 3

In [69]:
d

{'kim': 3, 'park': 2}

In [70]:
d['youn'] = 1

In [71]:
d

{'kim': 3, 'park': 2, 'youn': 1}

In [72]:
d.keys()

dict_keys(['kim', 'park', 'youn'])

In [73]:
d.values()

dict_values([3, 2, 1])

In [74]:
d.items()

dict_items([('kim', 3), ('park', 2), ('youn', 1)])

In [75]:
"kim" in d

True

In [77]:
for v in d.values():
    print(v, end=' ')

3 2 1

In [78]:
for key in d:
    print(d[key])

3
2
1

In [81]:
for k, v in d.items():
    print(v)

3
2
1

In [2]:
sen = "Hello"

dic = dict()

for ch in sen:
    if ch in dic.keys():
        dic[ch] += 1
    else:
        dic[ch] = 1
    
dic

{'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [5]:
sen = "Hellllllo"
dic = dict()
sen_set = set(sen)

for ch in sen_set:
    dic[ch] = sen.count(ch)
    
dic

{'l': 6, 'H': 1, 'o': 1, 'e': 1}

In [6]:
fw = open("new.txt", "w")

for i in range(1, 6):
    data = "%d line\n" % i
    fw.write(data)

fw.close()

In [17]:
fr = open("new.txt", "r")
for line in fr:
    print(line)

#fr.close()

1 line

2 line

3 line

4 line

5 line

In [10]:
line = fr.readline()
line

'2 line\n'

In [13]:
fr.readlines()

['1 line\n', '2 line\n', '3 line\n', '4 line\n', '5 line\n']

In [16]:
fr.close()