In [4]:
import os

fname = input('Enter a file name: ')

if os.path.exists(fname):
    with open(fname) as f:
        print(f.read().upper())

else:
    print('파일이 존재하지 않는다')

Enter a file name: test.txt
FIRST LINE
SECOND LINE
THIRD LINE

In [6]:
fw = open('new2.txt', 'a')

for i in range(6, 11):
    data = "%d line\n" % i
    fw.write(data)
    
fw.close()

In [7]:
def add(a, b):
    result = a + b
    return result

In [8]:
add_result = add(100, 200)
print(add_result)

300

In [9]:
def my_len(l):
    length = 0
    
    for i in l:
        length += 1
    
    return length

In [11]:
a = [5,5,6,7,8,3]
b = 'Life is short.'

In [12]:
my_len(a)

6

In [13]:
my_len(b)

14

In [14]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    return a / b

a = 1
b = 2

c = add(a, b)
d = sub(a, b)
e = mul(a, b)
f = div(a, b)

print(c, d, e, f)

3 -1 2 0.5

In [17]:
def factorial(x):
    if x == 1:
        return 1
    return x * factorial(x - 1)

In [29]:
factorial(10)

3628800

In [28]:
def addX(_x):
    return x + _x

x = 10
y = 20

res = addX(y)
print(res)

30

In [54]:
def pow(n, a):
    result = 1
    
    for i in range(a):
        result *= n
        
    return result

In [55]:
pow(5, 3)

125

In [56]:
pow(4, 2)

16

In [57]:
pow(2, 4)

16

In [94]:
def hour_min_sec(second):
    sec = second % 60
    hour = (second - sec) / 60 // 60 
    min_ = (second - sec) / 60 % 60
    
    return hour, min_, sec

In [95]:
hour, min_, sec = hour_min_sec(134)

In [96]:
hour

0.0

In [97]:
min_

2.0

In [98]:
sec

14

In [99]:
def printName(first, second='kim'):
    print("My name is", first, second + ".")

In [100]:
printName("della", "Park")

My name is della Park.

In [101]:
def calc(x, y, z):
    return x+y+z

calc(1, 2, 3)

6

In [102]:
def get_min_max(l):
    min_val = min(l)
    max_val = max(l)
    
    l.remove(min_val)
    l.remove(max_val)
    
    return min_val, max_val
    
l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)

print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

In [103]:
import random

In [104]:
random.choice("abcdefg")

'e'

In [106]:
random.randint(1, 6)

6

In [107]:
random.randrange(1, 6)

2

In [108]:
Ls = list(range(1, 11))
random.shuffle(Ls)
print(Ls)

[1, 6, 9, 10, 5, 8, 4, 3, 7, 2]

In [109]:
random.sample(Ls, 3)

[5, 2, 6]

In [118]:
lotto = list(range(1, 46))
random.sample(lotto, 6)

[5, 23, 34, 38, 37, 4]

In [119]:
import time

In [120]:
time.time()

1593059256.9397824

In [121]:
time.localtime(time.time())

time.struct_time(tm_year=2020, tm_mon=6, tm_mday=25, tm_hour=13, tm_min=27, tm_sec=50, tm_wday=3, tm_yday=177, tm_isdst=0)

In [125]:
''.join(list('python'))

'python'

In [126]:
def count_even(*n):
    cnt = 0
    for v in n:
        if v % 2 == 0:
            cnt += 1
            
    return cnt

In [128]:
count_even(1,2,4,6,7)

3

In [ ]:
def letter_dict(s):
    dic = {}
    for i in set(s):
        dic[i] = s.count(i)
    
def max_letter(dic):
    

a = letter_dict('red apple')
print(a)
print(max_letter(a))

In [130]:
colors = ["red", "green", "blue"]

", ".join(colors)

'red, green, blue'

In [131]:
ls = [i for i in range(1, 6)]
ls

[1, 2, 3, 4, 5]

In [ ]:
# 8번, 9번 전부다